.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

input{
  width: 24rem;
  height: 2rem;
  margin: 0.6rem;
  outline: none;
}

.btn{
  width: 4rem;
}




