img{
  margin: 1rem;
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  transition: all .2s ease;

  &:hover{
    transform: scale(1.1);
  }
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

}
